/*========================================== MASTER STYLESHEET ===========================================================

	Project : CREATIVE KARMAS TEMPLATE 
	Version : 1.0 
	Primary Use : CREATIVE KARMAS TEMPLATE
	
 ==========================================================================================================================*/

/*========================================== LAYOUT ===================================================================
 
	1.GLOBAL CSS 
	2.COMMON CSS 
	3.BUTTON 
	4.NAVIGATION 
	5.HEADER 
	6.VIDEO 
	7.COUNTER
	8.SERVICES
	9.CRAFTING DESIGN
	10.TESTIMONIAL
	11.FOOTER 
	12.ABOUT
	13.CONTACT PROJECTS
	14.CONTACT CAREER
	15.SERVICES
	16.PROCESS
	17.CONTACT US 
	18.MEDIA QUERIES
	
	
 ======================================================================================================================*/

/*========================================== COLOR CODES ===============================================================

	Primary Background:#ffffff [White] 
	Secondary Background:#f5f5f5 [Gray] 
	Theme Color :#EF5152 [Red] 
	Content Color :#333333 [Black] 
	Button bg Color :#EF5152 [Red]
 
 ================================================================================================================*/

/*========================================== TYPOGRAPHY =====================================================

	Heading:font-family: 'Sora', sans-serif;
	Body :font-family: 'Sora', sans-serif;
	
 ====================================================================================================================*/

/*========================================== 1.GLOBAL CSS START ===========================================*/
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body {
	background: #ffffff;
	color: #333333;
	font-family: 'Sora', sans-serif;
	font-size: 24px;
    font-weight: 400;
    line-height: 34px;
	margin: 0 auto;
	max-width: 100%;
}

body .container-fluid {
	max-width: 1920px;
}
body .container-fluid.footer-container {
	max-width: 88%;
	padding: 0;
}
p {
	margin-bottom: 0px;
	color: #333333;
	letter-spacing: -1px;
}

h1 {
	color: #222222;
	font-family: 'Sora';
	font-size: 65px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -3.84px;
}

h2 {
	font-family: 'Sora', sans-serif;
	color: #000000;
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 60px;
}

h3 {
	font-family: 'Sora', sans-serif;
	color: #000000;
	font-size: 45px;
	font-weight: 800;
	letter-spacing: 1px;
	line-height: 55px;
}

h4 {
	font-family: 'Sora', sans-serif;
	color: #000000;
	font-size: 35px;
	font-weight: 800;
	letter-spacing: 1px;
	line-height: 45px;
}

h5 {
	font-family: 'Sora';
	font-size: 26px;
	font-style: normal;
	font-weight: 800;
	line-height: 36px;
	/* 37.802px */
	letter-spacing: 1px;
}

h6 {
	font-family: 'Sora', sans-serif;
	color: #424242;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 28px;
}

/* SAFARI CLASS */

.rowsafari {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

a {
	color: #424242;
	text-decoration: none;
}

a:hover {
	color: #EF5152;
	text-decoration: none !important;
	outline: none !important;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	color: #424242;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0px;
}

.animate-scroll {
	opacity: 0;
}

.fs14 {
	font-size: 14px;
	line-height: 25px;
}

/*========================== 1.GLOBAL CSS END =====================*/

/*========================= 2.COMMON CSS START =============================*/

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.section-space {
	padding-top: 80px;
	padding-bottom: 80px;
}

.section-margin-bottom {
	margin-bottom: 15px;
}

.img-margin-bottom {
	margin-bottom: 25px;
}

.section-padding-bottom {
	padding-bottom: 30px;
}

.section-white-bg {
	background-color: #ffffff;
}

.section-gray-bg {
	background-color: #FFF4F4;
}

.section-dark-bg {
	background-color: #151515;
}

/* .intro-content {
	color: #424242;
	font-family: 'Sora';
	font-size: 19px;
	font-style: normal;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 1.5px;
} */

.spl-intro-content {
	color: #424242;
	font-family: 'Sora';
	font-size: 44px;
	font-style: normal;
	font-weight: 400;
	line-height: 60px;
	letter-spacing: -0.64px;
}

.section-heading {
	padding-bottom: 50px;
}

.letter-spacing {
	letter-spacing: 1px;
}

.theme-color {
	color: #EF5152;
}

.txt-dark {
	color: #000000;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
	max-width: 1170px;
}

.display-table {
	display: table;
}

.pb-50 {
	padding-bottom: 50px;
}

.pt-40 {
	padding-top: 40px;
}

/*======================== 2.COMMON CSS END ================================*/

/*========================== 3.BUTTON START ============================*/
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Sora';
	border: none;
	border-radius: 100px;
	padding: 12px 20px;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.5s linear;
	min-width: 170px;
	text-transform: uppercase;
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.56px;
}

.btn span {
	color: #FFF;
}

.yellow {
	background: none;
	color: black;
}

.yellow::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 60px;
	background: #EF5152;
	position: absolute;
	right: 0;
	z-index: -1;
	transition: all 600ms ease;
}

.yellow:hover::before {
	width: 43px;
	right: 13px;
}

.btn img {
	margin-left: 30px;
}

.btn:hover span {
	color: #222222;
}

.primary-btn {
	display: inline-block;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	padding: 15px 20px;
	transition: all 0.3s ease-in;
	letter-spacing: 1px;
	border: 2px solid #EF5152;
	background-color: #EF5152;
	cursor: pointer;
	font-family: 'Sora';
	fill: #ffffff;
	border-radius: 46px;
	min-width: 180px;
	margin-top: 30px;
}

.primary-btn:hover {
	background-color: transparent;
	color: #EF5152;
	fill: #333333;
	border: 2px solid #EF5152;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}

.transparent-btn {
	display: inline-block;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #EF5152;
	padding: 15px 20px;
	transition: all 0.3s ease-in;
	letter-spacing: 1px;
	border: 2px solid #EF5152;
	background-color: transparent;
	cursor: pointer;
	font-family: 'Sora';
	fill: #ffffff;
	border-radius: 46px;
	min-width: 180px;
	margin-top: 30px;
}


.transparent-btn:hover {
	background-color: #EF5152;
	color: #ffffff;
	fill: #333333;
	border: 2px solid #EF5152;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}

.primary-btn svg {
	margin-left: 10px;
	margin-top: -2px;
}

.hover-text-white:hover,
.hover-text-white:hover svg {
	color: #ffffff;
	fill: #ffffff;
}

.small-btn {
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.56px;
	min-width: 180px;
}

/*============================== 3.BUTTON END ==============================*/

/*========================= 4.NAVIGATION START ===================================*/

.nav-style {
	color: #222 !important;
	font-family: Sora;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.56px;
}

.navbar-nav li {
	display: inline-flex;
	padding: 8px 16px;
	align-items: flex-start;
	gap: 10px;
}

.navbar-nav {
	display: flex;
	align-items: center;
	justify-content: right;
}

.navbar-toggler {
	float: right;
	display: table;
	margin-left: auto;
	border-radius: 50px;
	width: 45px;
	height: 45px;
	padding: 0;
}

button:focus:not(:focus-visible) {
	box-shadow: none !important;
}

.navbar-toggler>.close {
	width: 28px;
	height: 30px;
	align-items: center;
	justify-content: center;
}

.navbar-toggler>.close {
	display: flex;
}

.navbar-toggler.collapsed>.close,
.navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
	display: none;
}

.navbar-expand-lg {
	padding: 20px 0;
}

/*================================================= 4.NAVIGATION END =============================================*/

/*================================================= 5.HEADER START =================================================*/

.header-spacing {
	padding-top: 80px;
	padding-bottom: 80px;
}

/*======================================== 5.HEADER END ==============================*/
/*======================================== 6.VIDEO START ============================*/
.home-video-bg {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
	background: url("../../images/home-header.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 700px;
	flex-shrink: 0;
	overflow: hidden;
}

.play-icon-img {
	position: absolute;
	left: 0;
	right: 0;
	display: table;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: 100%;
}

#play-button {
	position: absolute;
	border: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	opacity: 1;
	cursor: none;
}

/*======================================== 6.VIDEO END ============================*/
/*======================================== 7.COUNTER START ============================*/
.counter-box {
	border-radius: 10px;
	border: 1px solid #8A191A;
	background: #212023;
	color: #fff;
	padding: 30px;
}

.subtitle {
	color: #F6F6F6;
	font-family: 'Sora';
	font-size: 74px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	letter-spacing: -1.628px;
	padding-bottom: 80px;
}

.title-counterup {
	color: #F6F6F6;
	font-family: Sora;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	/* 133.333% */
	letter-spacing: -0.48px;
}

.item {
	margin: 0 10px;
}

#logo-slider.owl-theme .owl-controls .owl-buttons {
	fill: #FFF;
	display: inline-block;
	zoom: 1;
	display: inline;
	margin: 5px;
	padding: 3px 10px;
	font-size: 25px;
	position: absolute;
	top: -95px;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: right;
}

.owl-prev {
	text-align: right;
	background-color: #fff;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.owl-next {
	background-color: #fff;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.owl-buttons svg {
	fill: #333;
	width: 16px;
	height: 16px;
}

.owl-next.disabled,
.owl-prev.disabled {
	opacity: .5;
}

.prev-cls #logo-slider.owl-carousel .owl-wrapper {
	left: 15% !important;
}

.next-cls #logo-slider.owl-carousel .owl-wrapper {
	left: 15% !important;
}

#logo-slider .owl-wrapper-outer {
	overflow: visible !important;
}

/*======================================== 7.COUNTER END ============================*/
/*======================================== 8.SERVICES START ============================*/
.services-top-100 {
	margin-top: 100px;
}

.exp-com {
	padding: 50px;
}

.exp-head {
	display: table;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	border-bottom: 1px solid #cccccc;
}

.exp-head h5 {
	width: 100%;
}

.exp-head::after {
	content: "";
	border-bottom: 5px solid #151515;
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 0;
	display: table;
	opacity: 0;
	left: 0;
	transition: all .3s;
	width: 0;
}

.exp-com:hover .exp-head::after {
	opacity: 1;
	transition: all .3s;
	width: 100%;
}

.exp-head-img {
	display: flex;
	align-items: flex-start;
	position: relative;
}

.exp-arrow {
	position: absolute;
	right: 0;
}

.arrow-bottom {
	position: absolute;
	top: 20px;
	right: 20px;
	opacity: 0;
	transition: all .3s;
}

.exp-com:hover .arrow-bottom {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 1;
	transition: all .3s;
}

.arrow-top {
	opacity: 1;
	position: absolute;
	top: 0;
	right: 0;
	transition: all .3s;
}

.exp-com:hover .arrow-top {
	opacity: 0;
	position: absolute;
	top: -20px;
	transition: all .3s;
	right: -20px;
}

/*======================================== 8.SERVICES END ============================*/
/*======================================== 9.CRAFTING DESIGN START ============================*/
.craft-com {
	padding: 30px;
}

.client-section-padding-bottom {
	padding-bottom: 50px;
}

/*======================================== 9.CRAFTING DESIGN END ============================*/
/*======================================== 10.TESTIMONIAL START ============================*/
#testimonial-slider.owl-theme .owl-controls .owl-buttons {
	top: inherit;
	bottom: 20px;
	transform: inherit;
	left: inherit;
}

.testimonial-slider-box {
	padding: 30px;
}

.testimonial-slider-box span {
	color: #FFF;
	font-size: 64px;
	font-style: normal;
	font-weight: 600;
	line-height: 55px;
	letter-spacing: -2.56px;
	margin-right: 30px;
}

.testimonial-content {
	display: flex;
	align-items: flex-start;
	padding-bottom: 70px;
}

.testi-auther-details {
	display: flex;
	align-items: center;
}

.testi-auther-details img {
	margin-right: 15px;
}

/*======================================== 10.TESTIMONIAL END ============================*/
/*======================================== 11.FOOTER START ============================*/
.footer .col-lg-6:first-child {
	display: flex;
	/* justify-content: center; */
}
.footer > .row {
	align-items: center;
}
.social-icons li {
	color: #222;
	text-align: center;
	font-family: Sora;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.56px;
	display: inline-block;
	border: 1px solid #CDCDCD;
	padding: 5px 15px; 
	margin: 0 2px 8px 0;
	border-radius: 32px;
}

.social-grp {
	padding-bottom: 50px;
}

.footer-last{
	position: relative;
}
.footer-img {
    max-width: 111.5%;}
.footer-icon {
	position: absolute;
	top: 50%;
	left: 0;
	width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
	-webkit-animation: spin 6s linear infinite;
	-moz-animation: spin 6s linear infinite;
	animation: spin 6s linear infinite;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/*======================================== 11.FOOTER END ============================*/
/*===================== 12.ABOUT AREA START =====================*/
.about-header {
	background: url("../../images/about/header.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-bottom: 80px;
}
.mob-img {
	display: none;
}

.about-sec-com .about-sec2:first-child {
	padding-bottom: 80px;
}

.karma-font {
	color: #FFF;
	font-family: Sora;
	font-size: 96px;
	font-style: normal;
	font-weight: 700;
	line-height: 106px;
	/* 87.5% */
	letter-spacing: -3.2px;
}

.karma-4col .num {
	color: #F6F6F6;
	font-family: 'Sora';
	font-size: 55px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -1.628px;
}

.karma-4col .karma-text {
	padding-bottom: 60px;
}

.text-gray {
	color: #888888;
}


.title {
	position: relative;
	margin-top: 30px;
	width: 100%;
	text-align: center;
}

.timeline {
	position: relative;
	width: 100%;
	padding: 30px 0;
}

.timeline .timeline-container {
	position: relative;
	width: 100%;
}

.timeline .timeline-continue {
	position: relative;
	width: 100%;
	padding: 60px 0;
}

.timeline .timeline-continue::after {
	position: absolute;
	content: "";
	width: 5px;
	height: 100%;
	top: 0;
	left: 50%;
	margin-left: -1px;
	background: #383838;
}

.timeline .row.timeline-left,
.timeline .row.timeline-right .timeline-date {
	text-align: right;
}

.row.timeline-right .col-md-6 {
	padding: 0 30px;
}

.news-p {
	color: #EF5152;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.8px;
}

.news-sec .link-text {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.news-sec .link-text img {
	margin-left: 15px;
	max-width: 24px;
}

/*===================== 12.ABOUT AREA END =====================*/
/*===================== 13.CONTACT PROJECT AREA START =====================*/
.brading-icons li {
	display: inline-block;
	border-radius: 50px;
	background: #F2F2F2;
	padding: 12px 16px;
	margin: 0 10px 10px 0;
}

.brading-icons li.active {
	display: inline-block;
	border-radius: 50px;
	background: #222222;
	padding: 12px 25px;
	margin: 0 10px 10px 0;
} 
.brading-icons li:hover {
  display: inline-block;
  border-radius: 50px;
  background: #222222;
  padding: 12px 25px;
  margin: 0 10px 10px 0;
  color: #fff;
}
.brading-icons li.active a,
.brading-icons li:hover a {
	color: #fff;
}

.brading-grp {
	margin-bottom: 40px;
}

/*===================== 13.CONTACT PROJECT AREA END =====================*/

/*===================== 14.CONTACT CAREER AREA START =====================*/
.form-control-text {
	border: 1px solid #999999 !important;
	border: none;
	height: 60px;
	padding: 15px 20px;
	min-height: 80px;
	width: 100%;
	color: #333333;
	font-size: 15px;
	font-weight: 400;
	position: relative;
	letter-spacing: 1px;
	background-color: transparent;
}

.contact-btn-mar {
	display: table;
	margin-right: 20px;
}

.contact-address {
	background-color: #eeeeee;
	padding: 50px;
	border-top: 5px solid #76448E;
}

.form-res label {
	color: #222222;
	padding-bottom: 10px;
}

.SuccessMsg,
.sucessMessage {
	color: #0fa80f;
	font-size: 14px !important;
	line-height: 24px !important;
}

.failMsg,
.failMessage {
	color: #ff0000;
	font-size: 14px !important;
	line-height: 24px !important;
}

.messageDiv {
	padding-top: 10px;
}

.subs-error-top a {
	color: #ffffff !important;
}

.subs-error-top {
	color: #ff5656;
	font-size: 14px !important;
	line-height: 24px !important;
	margin-top: 10px;
}

.form-control-text:-moz-placeholder,
.form-input:-moz-placeholder {
	/* Firefox 4 - 18 */
	color: #222222;
	opacity: 1;
}

.form-control-text::-webkit-input-placeholder,
.form-input::-webkit-input-placeholder {
	/* Chrome */
	color: #222222;
}

.form-control-text:-ms-input-placeholder,
.form-input:-ms-input-placeholder {
	/* IE 10+ */
	color: #222222;
}

.form-control-text::-moz-placeholder,
.form-input::-moz-placeholder {
	/* Firefox 19+ */
	color: #222222;
	opacity: 1;
}

.form-control-text.errorClass:-moz-placeholder,
.form-input.errorClass:-moz-placeholder {
	/* Firefox 4 - 18 */
	color: #222222;
	opacity: 1;
}

.form-control-text.errorClass::-webkit-input-placeholder,
.form-input.errorClass::-webkit-input-placeholder {
	/* Chrome */
	color: #ff0000;
}

.form-control-text.errorClass:-ms-input-placeholder,
.form-input.errorClass:-ms-input-placeholder {
	/* IE 10+ */
	color: #ff0000;
}

.form-control-text.errorClass::-moz-placeholder,
.form-input.errorClass::-moz-placeholder {
	/* Firefox 19+ */
	color: #ff0000;
	opacity: 1;
}

.form-control:focus {
	box-shadow: none;
	border: 0px;
}

.form-control:focus {
	box-shadow: none;
	border: 0px;
}

.form-textarea-top-spacing {
	padding-top: 50px;
}

.form-input {
	border-bottom: 1px solid #dddddd !important;
	height: 42px;
	width: 100%;
	padding: 0 10px;
	min-height: 0px;
	font-size: 15px;
	border: none;
	background-color: transparent;
}

/*===================== 14.CONTACT CAREER AREA END =====================*/
/*===================== 15.SERVICES AREA START =====================*/
.service-header {
	background: url("../../images/services/header.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-top: 100px;
	padding-bottom: 100px;
}

.service-2nd-sec-text-img {
	position: absolute;
	right: 150px;
	top: 0;
	width: 300px;
	height: auto;
	z-index: 0;
}

.services-price {
	border-radius: 4px;
	background: #1E1E1E;
	padding: 30px;
	box-shadow: 0px 2px 10px 0px rgba(34, 34, 34, 0.04);
	color: #ffffff;
}

.services-price ul li {
	display: flex;
	align-items: baseline;
	margin-bottom: 15px;
}

.ser-com img,
.services-price ul li img {
	margin-right: 15px;
}

.ser-com {
	display: flex;
	padding: 50px;
	align-items: flex-start;
	border-bottom: 1px solid #ccc;
}

.ser-com.br0 {
	border: 0;
}

/*===================== 15.SERVICES AREA END =====================*/

/*===================== 16.PROCESS AREA START =====================*/
.process-header {
	background: url("../../images/process/header.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	padding-top: 200px;
	padding-bottom: 100px;
}

.width-70 {
	width: 70%;
}

/*===================== 16.PROCESS AREA END =====================*/

/*===================== 17.CONTACT US AREA START =====================*/
.contact-icon {
	position: absolute;
	z-index: 99999999;
	left: 0;
	right: 0;
	display: table;
	margin: 0 auto;
	bottom: -80px;
}

.contact-head {
	padding-bottom: 150px;
}

.contact-2head {
	z-index: -1;
	/* position: relative; */
	padding-top: 150px;
}

.faq2 .bg-faq-head span {
	color: #dd496c;
}

.faq2 .bg-faq-head:after {
	content: "\f106";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	right: 0;
	color: #ffffff;
	font-size: 20px;
	line-height: 20px;
}

.faq2 .faq-ques.active .bg-faq-head:after {
	content: "\f107";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	right: 0;
	color: #ffffff;
	font-size: 20px;
	line-height: 20px;
}

.faq2 .bg-faq-head {
	margin-bottom: 15px;
	padding-right: 30px;
	position: relative;
	cursor: pointer;
	color: #fff;
	display: flex;
	align-items: center;
	font-size: 26px;
	line-height: 36px;
}

.faq-accord.faq2 {
	margin-bottom: 40px;
}

.faq-accord.faq2:last-child {
	margin-bottom: 0;
}
.works-content .client-head p {
	color: #151515;
	font-family: Sora;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.32px;
}
/*===================== 17.CONTACT US AREA END =====================*/
/*===================== 18.MEDIA QUERIES START =====================*/


@media only screen and (max-width: 575px) {

	.karma-font,
	.subtitle,
	h1 {
		font-size: 48px;
		line-height: 54px;
		letter-spacing: -1px;
	}

	h2 {
		font-size: 38px;
		line-height: 48px;
	}

	h3 {
		font-size: 35px;
		line-height: 45px;
	}

	h4 {
		font-size: 25px;
		line-height: 35px;
	}
	
	.service-header,
	.process-header,
	.about-header {
		padding-top: 80px;
		padding-bottom: 50px;
	}

	.res-row-margin-bottom {
		margin-bottom: 30px;
	}

	.res-text-center {
		text-align: center;
	}

	.home-video-bg {
		background-size: cover;
		height: 250px;
		width: 100%;
	}

	.play-icon img {
		width: 80px !important;
		height: 80px !important;
	}

	.primary-btn svg {
		margin-left: 5px;
	}

	#logo-slider .owl-prev,
	#logo-slider .owl-next {
		margin-top: 0;
		margin-bottom: 0;
	}

	.timeline .timeline-continue::after {
		left: 36%;
	}

	.faq2 .bg-faq-head {
		font-size: 18px;
		line-height: 28px;
	}
	

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

	.karma-font,
	h1 {
		font-size: 40px;
		line-height: 50px;
	}

	h2 {
		font-size: 37px;
		line-height: 47px;
	}

	h3 {
		font-size: 33px;
		line-height: 43px;
	}

	h4 {
		font-size: 28px;
		line-height: 38px;
	}

	h5 {
		font-size: 20px;
		line-height: 30px;
	}

	h6 {
		font-size: 16px;
		line-height: 26px;
	}

	.timeline .timeline-continue::after {
		left: 33%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.karma-font,
	h1 {
		font-size: 45px;
		line-height: 55px;
	}

	h2 {
		font-size: 35px;
		line-height: 45px;
	}

	h3 {
		font-size: 32px;
		line-height: 42px;
	}

	h4 {
		font-size: 28px;
		line-height: 38px;
	}

	h5 {
		font-size: 22px;
		line-height: 32px;
	}

	h6 {
		font-size: 17px;
		line-height: 27px;
	}

	.section-margin-bottom {
		margin-bottom: 12px;
	}

	.img-margin-bottom {
		margin-bottom: 23px;
	}
	.section-space {
		padding-bottom: 60px;
		padding-top: 60px;
	}

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	h1 {
		font-size: 48px;
		line-height: 58px;
	}

	h2 {
		font-size: 45px;
		line-height: 55px;
	}

	h3 {
		font-size: 38px;
		line-height: 48px;
	}

	h4 {
		font-size: 30px;
		line-height: 40px;
	}

	h5 {
		font-size: 23px;
		line-height: 33px;
	}

	h6 {
		font-size: 18px;
		line-height: 24px;
	}

	.fixed-top .nav-btn {
		padding: 27px 58px
	}

	.next-cls #logo-slider.owl-carousel .owl-wrapper {
		left: -20px !important;
	}
}

@media only screen and (max-width: 767px) {

	.section-margin-bottom {
		margin-bottom: 10px;
	}

	.img-margin-bottom {
		margin-bottom: 10px;
	}

	.section-heading {
		width: 100%;
		padding-bottom: 30px;
		margin: 0 auto;
	}

	.section-space {
		padding-bottom: 50px;
		padding-top: 50px;
	}

	body {
		font-size: 16px;
	}

	.res-margin-bottom {
		margin-bottom: 40px;
	}
	.about-header,
	.process-header,
	.service-header {
		background-image: none;
	}
	
	.about-header {
		margin-bottom: 0;
	}
	.desk-img {
		display: none;
	}

	.mob-img {
		display: block;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.res-text-center767 {
		text-align: center;
	}

	.p0-767 {
		padding: 0 !important;
	}

	.about-principles-section .exp-com.tab-mb0{
		border: 0;
		margin-bottom: 0;
	}

	/* .exp-head {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border: 0;
	} */

	.about-principles-section .exp-com {
		border-bottom: 1px solid #ccc;
		padding-bottom: 40px;
	}

	.timeline .timeline-continue {
		padding: 30px 0;
	}

	.news-sec .link-text {
		margin-top: 15px;
	}
	.heading3 { 
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -1.2px;
	} 
	.exp-head .heading5,
	.heading5{
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	.work-header {
		text-align: center;
	}
	.work-header h2,
	.heading2	{
		color: #222;
		text-align: center; 
		font-size: 40px;
		font-style: normal;
		font-weight: 700;
		line-height: 54px; /* 135% */
		letter-spacing: -1.2px;
	}
	.work-header p {
		color: #555;
		text-align: center;
		font-family: Sora;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */
		letter-spacing: -0.48px;
	}
	.works-content h6 {
		color: #555;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 26px; /* 162.5% */
		letter-spacing: -0.64px;
	}
	.works-content p {
		color: #555;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 171.429% */
		letter-spacing: -0.56px;
	}
	.works-content h4,
	.heading4 {
		color: #222;
		font-family: Sora;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.8px;
	}
	.cta-section h3 {
		color: #FFF !important;
		text-align: center;
		font-size: 40px;
		font-style: normal;
		font-weight: 600 !important;
		line-height: normal;
		letter-spacing: -0.8px;
	}
	.cta-section p {
		color: #EAEAEA !important;
		text-align: center;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.4px;
	}
	.cta-section .primary-btn {
		color: #FFF;
		text-align: center;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.64px;
		padding: 20px 48px;
	}
	.footer p {
		color: #222;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.56px;
	}
	.footer h5 {
		color: #222;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.96px;
	}
	.footer .primary-btn {
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		border-radius: 46px;
		letter-spacing: -0.56px;
		padding: 20px 48px;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.intro-content,
	.spl-intro-content	{		
		font-size: 28px;		
		line-height: 38px;		
	}
	
	.mobile-hide{
		display: none;
	}
}

@media only screen and (max-width: 991px) {
	.nav-style {
		padding-bottom: 10px;
		padding-top: 10px;
	}

	.container {
		max-width: 100%;
	}

	.margin-auto {
		margin: 0 auto;
	}

	.navbar-collapse {
		position: absolute;
		top: 110px;
		padding: 20px;
		background-color: #dcdcdc;
		left: 0;
		right: 0;
		z-index: 9;
	}

	.nav-style {
		padding: 10px 0px !important;
	}

	.navbar-expand-lg>.container,
	.navbar-expand-lg>.container-fluid {
		padding-right: 15px;
		padding-left: 15px;
	}

	.navbar-nav li {
		padding: 5px 0;
	}

	.navbar-nav li:hover {
		margin-top: 0;
	}

	.res-bot10 {
		margin-bottom: 20px;
	}

	.res-bot20 {
		margin-bottom: 20px;
	}

	.res-width-padding-bottom {
		padding-bottom: 30px;
	}
	
	.tab-pt30{
		padding-top: 30px;
	}
	
	.tab-pt50{
		padding-top: 50px;
	}
	
	.tab-pb30{
		padding-bottom: 30px;
	}
	
	.tab-pb50{
		padding-bottom: 50px;
	}

	.ser-com {
		padding: 40px 20px;
	}

	.craft-com,
	.exp-com {
		padding: 40px 10px;
	}

	#testimonial-slider.owl-theme .owl-controls .owl-buttons,
	#logo-slider.owl-theme .owl-controls .owl-buttons {
		position: relative;
		top: 40px;
		right: 0;
		justify-content: left;
	}

	#testimonial-slider.owl-theme .owl-controls .owl-buttons {
		top: -20px;
	}

	.prev-cls #logo-slider.owl-carousel .owl-wrapper {
		left: 0 !important;
	}

	.next-cls #logo-slider.owl-carousel .owl-wrapper {
		left: 0 !important;
	}

	.services-top-100 {
		margin-top: 0;
	}

	.testimonial-content {
		display: inherit;
		align-items: end;
		padding-bottom: 40px;
	}

	.testimonial-slider-box {
		padding: 0;
		padding-bottom: 30px;
	}

	.pl-4 {
		padding-left: 0;
	}

	.footer-last {
		position: relative;
	}

	.footer-icon {
		top: 0;
		left: 50%;
	}

	.about-sec2 br,
	.exp-head h5 br,
	.tab-hidebr br {
		display: none;
	}

	.tab-mt0 {
		margin-top: 0;
	}

	.width-70 {
		width: 100%;
	}

	.tab-border0 {
		border: 0 !important;
	}

	.tab-border-bottom0 {
		border-bottom: 0 !important;
	}

	.tab-mb0 {
		margin-bottom: 0 !important;
	}

	.tab-border-top {
		border-top: 1px solid #cccccc;
		padding-top: 50px !important;
	}

	.tab-border {
		border-bottom: 1px solid #cccccc;
		margin-bottom: 20px;
	}

	.tab-border>.rowsafari {
		margin-bottom: 20px;
	}

	.testimonial-slider-box span {
		font-size: 50px;
		line-height: 50px;
	}

	.res-margin-4 {
		padding-top: 40px;
	}

	.res-text-center {
		text-align: center;
	}

	.services-left {
		margin-top: 0 !important;
		padding-bottom: 10px;
	}
	
	.services-price {
		padding: 30px 15px;
	}

	.tab-pad-bot-120 {
		padding-bottom: 120px;
	}

	.client-section-padding-bottom {
		padding-bottom: 0;
	}

	.social-grp {
		text-align: center;
	}

	.res-pad-left15 {
		padding-left: 15px !important;
	}

	.ul-img {
		display: none;
	}

	.about-sec-com .about-sec2:first-child {
		padding-bottom: 30px;
	}

	.karma-font span {
		padding-left: 90px !important;
	}

	.karma-4col {
		padding-top: 20px !important;
	}

	.karma-4col:first-child {
		border-top: 1px solid #383838;
	}

	.karma-content {
		padding-top: 20px !important;
		padding-left: 0 !important;
		border-top: 1px solid #383838;
	}

	.about-karma-2col-text {
		padding: 20px !important;
		border-top: 1px solid #383838;
	}

	.karma-content .text-light {
		padding-bottom: 50px !important;
	}

	.contact-projects-3col {
		display: flex;
		align-items: center;
		margin-bottom: 50px;
	}

	.contact-projects-3col .cpf-com {
		width: 32.33%;
		padding: 0 10px;
	}

	.contact-projects-3col .cpf-com h6 {
		font-size: 13px;
		line-height: 23px;
	}

	.contact-projects-3col .cpf-com:nth-child(2) {
		width: 42.33%;
		padding: 0 10px;
	}

	.service-2nd-sec-text-img {
		display: none;
	}

	.contact-icon {
		bottom: -35px;
		width: 150px;
	}
	.footer .col-lg-6:first-child {
		display: block;
		justify-content: center;
	}
}

@media only screen and (max-width: 480px) {
	.res-mob-padding {
		padding-bottom: 30px;
	}

	.res-row-margin-bottom {
		margin-bottom: 30px;
	}

	.nav-btn-icon::before {
		display: inline-block;
		padding: 7px 12px;
		margin-right: 15px;
		border-radius: 5px;
	}

	.nav-btn {
		display: none;
	}

	.navbar-toggler {
		padding: 8px;
	}

	.gr {
		top: 9px;
	}

	.nav-btn-top {
		position: absolute;
		top: 13px;
		left: 50px;
		right: 0;
		margin-right: 14px;
		margin: 0 auto;
	}

	.logo-style img {
		width: 70%;
	}

	.logo-style img {
		max-width: 40%;
	}

	.navbar-toggler-icon {
		width: 1.2em;
		height: 1.2em;
	}

	.exp-head h5 br {
		display: initial;
	}

	.exp-com .exp-head img {
		width: 30px;
	}

	.primary-btn {
		width: 100%;
	}
}

@media only screen and (min-width: 481px) and (max-width: 991px) {
	.nav-btn {
		width: 100%;
		text-align: center;
		padding: 20px;
		margin-right: 15px;
		display: initial;
	}

	.nav-btn-top {
		position: absolute;
		top: 19px;
		left: 0;
		right: 0;
		margin-right: 14px;
		margin: 0 auto;
	}

	.logo-style img {
		max-width: 60%;
	}

	.fixed-top .logo-style {
		width: auto;
	}

	.fixed-top .nav-btn {
		width: 100%;
		text-align: center;
		padding: 20px;
		margin-right: 15px;
		display: initial;
	}

}

/* SAFARI MENU ISSUES*/

@media only screen and (min-width: 992px) {

	/*safari Browser*/
	.navbar-expand-lg .navbar-collapse {
		float: right !important;
		display: block !important;
		line-height: 24px !important;
	}

	.navbar-expand-lg .safari-menu {
		display: inline-block !important;
		vertical-align: middle !important;
	}
	
	.works-col .craft-com{
		padding-bottom: 100px;
	}
	
	.home-works-col .craft-com{
		padding-bottom: 70px;
	}
}

@media only screen and (max-width: 1199px) {
	.ul-img {
		display: none;
	}
}

@media only screen and (min-width: 1199px) {
	#logo-slider.owl-carousel .owl-item {
		width: 331px !important;
	}
	
	.works-col .craft-com img{
		max-width: 930px;
	}	
	
}
@media only screen and (min-width: 1439px) and (max-width: 1919px){
	.work-header .col-lg-8 {
		width: 100%;
	}
	.heading1 {
		font-size: 96px;
		font-weight: 700;
		letter-spacing: -3.84px;
	}
	.work-header h2,
	.heading2 {
		color: #000;
		font-size: 72px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -2.16px;
	}
	.heading3 { 
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -1.92px;
	} 
	.karma-4col .num {		
		font-size: 80px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -1.628px;
	}
	.work-header p {
		color: #000;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 38px; /* 158.333% */
		letter-spacing: -0.72px;
	}
	
	.works-content h6 {
		color: #555;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 26px; /* 162.5% */
		letter-spacing: -0.64px;
	}
	.works-content .col-lg-3 p {
		color: #555;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 171.429% */
		letter-spacing: -0.56px;
	}
	.works-content h4,
	.heading4 {
		color: #222;
		font-size: 40px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -1.6px;
	}
	.exp-head .heading5,
	.heading5{
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	.works-content p {
		color: #555;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px; /* 162.5% */
		letter-spacing: -0.64px;
	}
	.cta-section h3 {
		color: #FFF  !important;
		text-align: center;
		font-size: 64px;
		font-style: normal;
		font-weight: 600 !important;
		line-height: normal;
		letter-spacing: -1.28px;
	}
	.cta-section p.intro-content {
		color: #EAEAEA !important;
		text-align: center;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.64px;
	}
	.cta-section .primary-btn {
		display: inline-flex;
		padding: 24px 48px;
		align-items: flex-start;
		gap: 10px;
		border-radius: 46px;
		background: #EF5152;
		color: #FFF;
		text-align: center; 
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.64px;
	}
	.social-icons li {
		border-radius: 32px;
		border: 1px solid #222;
	}
	.footer p {
		color: #222; 
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.64px;
	}
	.footer h5 {
		color: #222;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -1.28px;
	}
	.footer .primary-btn {
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.56px;
	}
}
@media only screen and (min-width: 1920px) {
	.ul-img {
		margin-left: -160px !important;
		margin-top: 23px;
	}
	.service-header,
	.about-header {
		padding-top: 200px;
  		padding-bottom: 200px;
	}
	.btn {
		width: 185px;
 		height: 45px;
	}
	h1,
	.heading1 {
		font-size: 96px;
		font-weight: 700;
		letter-spacing: -3.84px;
	}
	.header-spacing .col-lg-9 {
		width: 100%;
	}
	.title-counterup,
	body {
		font-size: 24px;
		font-weight: 400;
		line-height: 40px; /* 166.667% */
		letter-spacing: -0.72px;
	}
	.intro-content {
		font-size: 44px;
		font-style: normal;
		font-weight: 400;
		line-height: 60px; /* 136.364% */
		letter-spacing: -0.88px;
	}
	.gallery-slider .col-lg-6.section-heading {
		width: 83%;
	}
	#logo-slider.owl-theme .owl-controls .owl-buttons { 
		top: -125px; 
	}
	#logo-slider.owl-carousel .owl-item {
		width: 400px !important;
	}
	.exp-head h5,
	.heading3 { 
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -1.92px;
	} 
	.primary-btn {
		display: inline-flex;
		padding: 24px 48px;
		align-items: flex-start;
		gap: 10px;
		color: #FFF;
		text-align: center;
		font-family: Sora;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.64px;
	}
	h3 { 
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.96px;
	}
	.testimonial-slider-box .intro-content { 
		font-size: 36px;
		font-style: normal;
		font-weight: 400;
		line-height: 66px; /* 183.333% */
		letter-spacing: -1.44px;
	}
	.cta-section h3 {
		font-size: 64px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -1.28px;
	}
	.cta-section .intro-content {
		color: #EAEAEA !important;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.64px;
	}
	.social-icons li {
		border-radius: 32px;
		border: 1px solid #222;
		color: #222;
		text-align: center;
		font-family: Sora;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.56px;
	}
	.news-p {
		font-size: 20px;
		line-height: 30px;
	} 
	.services-price .exp-head h5 {
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.56px;
	}
	.section-straightforward .exp-head h5 {
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -1.12px;
	}
	.work-header h2,
	.heading2	{
		font-size: 72px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -2.16px;
	}
	.works-content h4,
	.heading4 {
		font-size: 40px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -1.6px;
		text-align: left;
	}
	.exp-head .heading5,
	.heading5{
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	.works-content h6 {
		color: #555;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 26px; /* 162.5% */
		letter-spacing: -0.64px;
		text-align: left;
	}
	.works-content .col-lg-3 p {
		color: #555; 
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 171.429% */
		letter-spacing: -0.56px;
		text-align: left;
	}
	.works-content p {
		color: #555; 
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px; /* 162.5% */
		letter-spacing: -0.64px;
		text-align: left;
	}
	.karma-4col .num {		
		font-size: 80px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -1.628px;
	}
	.craft-com {
		text-align: center;
	}
	.contact-us-3rd .intro-content {
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 40px;
		letter-spacing: -0.72px;
	}
	.contact-us-3rd .intro-content span {
		font-size: 32px !important;
		font-style: normal;
		font-weight: 400;
		line-height: 42px !important;
		letter-spacing: -0.96px;
	}
	h6 {
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.96px;
	}
	.contact-projects-3col p {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.64px;
	} 
	.container, .container-lg, .container-md, .container-sm, .container-xl {
	  max-width: 1600px;
	}
	.footer p {
		color: #222; 
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.64px;
	}
	.footer h5 {
		color: #222;
		font-size: 40px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -1.6px;
	}
	.footer .primary-btn { 
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.56px;
	}
  }
/*=================================== 18.MEDIA QUERIES END =======================================*/